@import url('https://fonts.googleapis.com/css?family=Abel');

/*카드 CSS*/
html, body {
  background: ;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  /*Align contents to center*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
}

/*전체 카드 크기*/
.memCard {
  width: 800px;
  height: 250px;
  background-color: #400010;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.memCard h1 {
  text-align: center;
}

/*사진 부분*/
.memCard .additional {
  position:absolute;
  width: 200px;
  height: 100%;
  background: linear-gradient(#65011d, #8a0022);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.memCard.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.memCard:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

/*사진 부분*/
.memCard .additional .user-memCard {
  width: 200px;
  height: 100%;
  position: relative;
  float: left;
}

.memCard .additional .user-memCard::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

/*팀 멤버 박스*/
.memCard .additional .user-memCard .teamPosition {
  top: 85%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.memCard .additional .user-memCard svg {

}

.memCard .additional .more-info {
  width: 600px;
  float: left;
  position: absolute;
  left: 200px;
  height: 100%;
}

.memCard .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.memCard.green .additional .more-info h1 {
  color: #224C36;
}

.memCard .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.memCard.green .additional .coords {
  color: #325C46;
}

.memCard .additional .coords span + span {
  float: right;
}

.memCard .additional .blogButton {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.memCard.green .additional .stats {
  color: #325C46;
}

.memCard .additional .stats > div {
  flex: 1;
  text-align: center;
}

.memCard .additional .stats i {
  display: block;
}

.memCard .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.memCard .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.memCard .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.memCard .general {
  width: 600px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.memCard .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
  color: darkgrey;
}

/*멤버 이미지*/
.memCard .user-memCard .memberImg {
  position: absolute;
  width: 150px;

}

.memCard .user-memCard .imgCrop {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*블로그 버튼*/
.memCard .button-1 {
  background-color: #66001a;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Abel, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-1:hover,
.button-1:focus {
  background-color: #a10026;
}