<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <title>Title</title>

    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>

</head>
<body>
<!--제목, 방명록 버튼, 목표, 약속 div 만들기-->
<div class="title">
    <h1>셀럽파이브</h1>
    <button>방명록 보기/작성하기</button>
    <h3>목표, 약속</h3>
</div>

<!--멤버 설명 카드 만들기-->

</body>
</html>