<!--배진영 카드-->
<div class="center">
    <div class="memCard">
        <div class="additional">
            <div class="user-memCard center">
                <div class="teamPosition center">
                    팀장
                </div>
                <svg width="160" height="160" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg" role="img"
                     aria-labelledby="title desc" class="center">

                    <title id="title">배진영</title>
                    <defs>
                        <clipPath id="scene">
                            <circle cx="125" cy="125" r="115"/>
                        </clipPath>
                    </defs>
                    <circle cx="125" cy="125" r="120" fill="rgba(0,0,0,0.15)"/>
                </svg>
                <div class="imgCrop">
                    <img class="memberImg center" src="../static/배진영.png">
                </div>
            </div>
            <div class="more-info">
                <h1>배진영</h1>
                <div class="coords">
                    <span>MBTI</span>
                    <span>INTJ</span>
                </div>
                <div class="coords">
                    <span>장점</span>
                    <span>INTJ</span>
                </div>
                <div class="coords">
                    <span>스타일</span>
                    <span>INTJ</span>
                </div>
                <div class="blogButton">
                    <button class="button-1" role="button" onclick="location.href='https://velog.io/@jinbae'">블로그 바로가기</button>
                </div>
            </div>
        </div>
        <div class="general">
            <h1>배진영</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam
                vestibulum sodales odio ut pulvinar.</p>
            <span class="more">마우스를 올려보세요</span>
        </div>
    </div>